body{
    background-color: #fafbfc;
}

.leha-header > h1.leha-info{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 30px;
}
.leha-header > h1{
    font-weight: 300;
}

.leha-header > h1 > span{
    color: #de4339;
}

.navbar-item img{
    margin-top: -4px;
    max-height: 16px;
    padding: 0 4px;
}

.navbar.is-dark{
    background-color: #3e4f5f;
}

.navbar.is-dark > .navbar-menu > .navbar-end > a:hover{
    background-color: #009ec3;
}

.hero.is-info{
    background-color: #009ec3;
    /*background-image: linear-gradient(to bottom, #3e4f5f, #406179, #3c7592, #2e89ab, #009ec3);*/
}

.hero.leha-top{
    background-color: #F8FCFE;
}

section.leha-totvs{
    /*background-image: linear-gradient(to top, #00d1b1, #00c5bd, #00b9c4, #00acc6, #009ec3);*/
}

section.leha-side{
    /*background-image: linear-gradient(to bottom, #00d1b1, #5fd996, #96df79, #cae062, #ffdd58);*/
}

section.hero > .hero-body > .container > .content > h2{
    padding: 12px 0;
}

section.hero.leha-umich > .hero-body > .container > .content > h2{
    padding: 12px 0;
    color: #00274c;
}

.card:hover{
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
}

.card > .card-content{
    /*background-color: #f8f8f8;*/
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 12px;
}

.card > .card-content > .content > .title{
    padding-bottom: 8px;
}
.card > .card-content > .content > .subtitle{
    color: #777;
}

.card > .card-content > .content > time{
    color: #777;
}