.has-bg-img {
    background: url('../images/projects/mobilesale/fluig-data-mobile-sale-1280-681.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}