/*.has-bg-img {*/
    /*background: url('../images/projects/mobilesale/fluig-data-mobile-sale-1280-681.jpg');*/
    /*background-position: center center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
/*}*/

body{
    background-color: #fafeff;
}


.navbar.is-dark{
    background-color: #3e4f5f;
}

.navbar.is-dark > .navbar-brand > .navbar-item img{
    margin-top: -7px;
    max-height: 16px;
    padding: 0 4px;
}

.navbar.is-dark > .navbar-brand > a.navbar-item:hover{
    background-color: #28323E;
}

.navbar.is-dark > .navbar-menu > .navbar-end > a:hover{
    background-color: #28323E;
}


.content figure{
    margin: 0;
}

.content h2{
    font-size: 24px;
    font-weight: 400;
}

section > .container{
    padding: 20px 0;
}

section.hero.leha-totvs{
    background-color: #009ec3;
}

span.tag.is-dark{
    background-color: #3f5060;
}